# UPnP Locator systemd unit
[Unit]
Description=UPnP Locator
After=network-online.target
Wants=network-online.target
BindsTo=network.service

[Service]
Type=simple
ExecStart=/usr/bin/mono /home/pi/UPnP-Locator/UPnPOpenHABLocator.exe 

[Install]
WantedBy=multi-user.target
